.basic
	font-size 16px
	line-height 1.9
	letter-spacing 0.5px
	.wp-caption
		max-width 100%
		margin 30px 0
		img
			margin-bottom 0
			display block
			&.size-large
				width 100%
		&-text
			background-color $c-bg
			color #fff
			max-width none !important
			padding 5px 15px
			font-size 14px
	h1,h2,h3,h4,h5,h6
		color $c-text-dark
		font-weight bold
		margin-top 50px
	h1
		font-size 35px
		line-height 1.1
		margin 50px 0 20px
	h2
		font-size 21px
		margin 0 0 30px
	p
		margin 0 0 20px
	a
		color $c-primary
	img
		margin 20px 0
		&.alignright
			float right
			margin-left 20px
		&.alignleft
			float left
			margin-right 20px
		&.aligncenter
			display block
			margin 20px auto
	table
		border-collapse collapse
		margin 40px 0
		td
		tr
			padding 10px
			border 2px solid
	ul
	ol
		margin 40px 0
		li
			margin 5px 0
	table.list
		margin-top 0
		width 100%
	:first-child
		margin-top 0
	:last-child
		margin-bottom 0
