.files
	margin 50px 0
	&-item
		&-desc
			//
		&-info
			font-size 14px
			color $c-text-light
			margin-bottom 5px
		&-heading.media-heading
			margin-bottom 15px
			a
				color inherit
				transition .3s ease all
				&:hover
					color $c-primary
					text-decoration none
