.footer
	padding 20px 0
	color $c-text-light
	font-size 15px
	&-title
		font-family $f-thin
	table
		width 100%
		margin-top 20px
		p
			margin 0
	&-nav
		a
		span
			display inline-block
			vertical-align middle
			margin-left 10px
			color $c-text-light
		a
			text-decoration underline
	&-right
		text-align right
		padding-top 50px
		p
			margin 10px 0
