.footernav
	// margin-top 100px
	background-color #363636
	padding 50px 0
	color #fff
	&-title
		margin-bottom 15px
	&-list
		margin-bottom 30px
		font-weight 300
		&:last-child
			margin-bottom 0
		a
			display block
			margin-bottom 5px
	&-social
		font-size 20px
		svg
			margin-left 5px
			relative bottom 2px
