.footer
	padding 20px 0
	color $c-text-light
	font-size 14px
	table
		width 100%
		margin-top 20px
		p
			margin 0
	&-nav
		a
		span
			display inline-block
			vertical-align middle
			margin-left 10px
			color $c-text-light
		a
			text-decoration underline
	&-right
		padding-top 20px
		p
			margin 10px 0

	@media $768M
		text-align center
		table
			td
				display block
				padding 10px 0

	@media $768
		&-right
			text-align right
			padding-top 50px
		table
			td
				padding-right 20px
