.fullslider
	width 100%
	height 100vh
	reset-ul()
	&-item
		width 100%
		height 100vh
		background-color #fff
		position relative
		background-size contain
		background-position center center
		background-repeat no-repeat
		background-size cover

.fullslider-dots
	position absolute
.fullslider-desc
	absolute left right bottom
	max-width 700px
	reset-ul()
	margin auto
	text-align center
	&-item span
		display inline-block
		background-color #000
		font-size 12px
		font-weight bold
		padding 10px
		display none
		.slick-initialized &
			display block

@media $768M
	.fullslider-dots
		left 15px
		top 55px

@media $768
	.fullslider-dots
		right 30px
		bottom 15px
	.fullslider-desc
		&-item span
			padding 8px 20px
