.gallery
	&-item
		transition .3s ease all

	@media $768
		background-color #000
		&-item
			transition .3s ease all
		.slick-slide img
			opacity .3
			transition .3s ease all
			background-color $c-bg
		.slick-center img
			opacity 1

