.header
	padding 15vh 0px
	background url(../images/header.jpg) center center no-repeat
	background-size cover
	position relative
	color $c-text-alt
	&-counter-out
		absolute left 50% bottom -45px
		transform translate(-50%, 0)

	@media only screen and (min-device-width: 320px) and (max-device-width: 580px) and (orientation: landscape)
		padding 30vh 0px

	@media $768
		padding 30vh 0

	@media $1000
		.title.view-header
		.title.view-subheader
		&-counter.counter
			opacity 0
			transform translate(0, -20px)
			transition .3s ease all
			.run-animation &
				opacity 1
				transform translate(0, 0)
		.title.view-subheader
			transition-delay .15s
		&-counter.counter
			transition-delay .3s
