.infobox
	&-list
		margin 30px 0
	&-item
		&-title
			color $c-text-dark
			font-size 14px
		&-icon
			height 80px
			position relative
			svg
				absolute-center()
		&-value
			color $c-secondary
			font-family $f-bold
			font-size 22px
		&-subvalue
			color #666666
			font-size 13px
	&-btn-desc
		color #333333
		font-family $f-thin
		font-size 11px
		margin 10px 0


	@media $768M
		&-item
			margin-bottom 40px
			&-icon
				transform scale(.8)

	@media $768
		&-list
			space-between()
			margin 60px 0
		&-item
			width (100% / 3)
			&-title
				font-size 18px
			&-icon
				height 110px
			&-value
				font-size 24px
			&-subvalue
				font-size 16px
			&:nth-child(2)
				border-left 1px solid #CDCCCC
				border-right 1px solid #CDCCCC
		&-btn-desc
			font-size 14px
			margin 15px 0

	@media $1000
		&-item
			&-value
				font-size 30px
			&-subvalue
				font-size 18px
