.input
	display block
	width 100%
	border-radius $radius
	border 1px solid $c-border
	min-height 50px
	outline 0
	padding 0 10px
	color $c-text
	&:hover
		border-color darken($c-border, 20%)
	&:focus
		border-color $c-primary
