.letternav
	text-transform uppercase
	reset-ul()
	space-between()
	li
		display inline-block
		vertical-align top
		a
			text-decoration underline
		span
			color $c-text-light
		&:last-child
			display none
