.letternav
	text-transform uppercase
	reset-ul()
	li
		display inline-block
		vertical-align top
		a
			text-decoration underline
			color $c-primary
			transition .3s ease all
			&:hover
				color #000
		span
			color $c-text-light
		&:last-child
			display none

	@media $1000M
		a
		span
			display inline-block
			padding 5px 2px

	@media $1000
		space-between()
