.mapbox
	position relative
	height 200px
	background url(../images/googlemap.jpg) center center

	@media $768
		height 400px

	@media $1000
		&:before
			content 'Otevřít v Google Maps'
			absolute-fill()
			background-color rgba(#000, .7)
			opacity 0
			transition .3s ease all
			color #fff
			text-align center
			line-height 400px
			font-size 26px
		&:hover
			&:before
				opacity 1
