.menu-toggle
	float left
	height 62px
	z-index 10
	padding 18px 10px 0 20px
	cursor pointer
	transition .2s ease all
	absolute left top
	z-index 5
	&-label
		color $c-secondary
		font-size 12px
		font-weight 600
		margin-left 5px
		position relative
		top 1px
	&-label
	&-burger
		display inline-block
		vertical-align middle
	.item
		width 24px
		height 3px
		background-color $c-secondary
		margin 0 0 6px
		display block
		position relative
		transition .2s ease all
		border-radius 5px
		&:last-child
			margin-bottom 0

	.menu-is-open &
		.item
			&:nth-child(1)
				transform rotate(45deg)
				top 8px
			&:nth-child(2)
				opacity 0
			&:nth-child(3)
				transform rotate(-45deg)
				bottom 10px

	@media $1000
		display none
