.menu
	&-wrapper
		text-align center
	&-item
		display block
		color $c-primary
		font-size $f-base-size
		text-decoration none

	@media $1000M
		&-list
			display none
			absolute left right top
			background-color #fff
			padding 150px 0 60px 0
			.menu-is-open &
				display block
		&-item
			text-align center
			padding 10px 0

	@media $1000
		&-item
			display inline-block
			vertical-align top
			margin-right 40px
			transition .3s ease all
			&:hover
				color #000
