.newsbox
	background-color #EDEDED
	background url(../images/pattern.jpg) center center no-repeat
	background-size cover
	&-list
		margin 50px 0 20px
	&-item
		background-color #F4F4F4
		margin-bottom 30px
		text-align left
		position relative
		padding-bottom 50px
		&-img
			img
				width 100%
				max-width 100%
		&-in
			padding 20px
		&-date
			font-size 15px
			color $c-text-light
		&-title
			font-weight 600
			// font-family $f-bold
		&-btn
			absolute left right bottom
			padding 20px

	@media $768
		&-list
			space-between()
		&-item
			display inline-block
			vertical-align top
			width 31%
