.page
	color $c-text-alt
	&-header
		margin 15px 0 10px
		padding 10px 0
		&-social
			min-height 20px
			margin-top 20px
			.twitter-share-button
				display inline-block
				vertical-align middle
				position relative !important
				relative bottom 3px
				margin-left 10px
		&.view-single
			border-bottom 1px solid rgba(#979797, .5)
			margin 50px 30px
	&-content
		margin-bottom 30px
		clearfix()
	&-gallery
		margin-top 30px
		img
			display block
		.js-gallery-item
			background-color $c-bg
	&-btns
		margin-top 90px


	@media $768
		&-header
			margin 15px 0 5px
			padding 15px 0

	@media $1000
		&-gallery
			margin-top 50px
			.slick-slide img
				opacity .2
				transition .3s ease all
				background-color $c-bg
			.slick-center img
				opacity 1
