.select
	position relative
	display inline-block
	vertical-align middle
	&-caret
		absolute right 15px top 5px
		color #000
		opacity .7
		.caret
			margin 0
	select
		background-color #fff
		width 250px
		color #000
		border 1px solid #DFDFDF
		-webkit-appearance none
		border-radius 0
		padding 10px 15px
		height auto
		line-height 1
