.servicesbox
	&-list
		space-between()
		margin 50px 0 20px
	&-item
		background-color #F4F4F4
		display inline-block
		vertical-align top
		width 31%
		margin-bottom 30px
		padding 30px
		display flex
		align-items center
		justify-content center
		svg
			margin-bottom 20px

