// Shameful styles, waiting to be refactored soon

#__bs_notify__
	pointer-events none
	fixed left 10px
	top 5px !important
	right auto !important
	border-radius 50% !important
	font-size 0 !important
	height 20px !important
	width 20px !important
	padding 0 !important
	background-color #2ecc71 !important

#wpadminbar
	top auto !important
	bottom 0 !important
