.shape
	display inline-block
	vertical-align middle
	line-height inherit
	fill currentColor

	&-defs
		visibility hidden
		position absolute
		width 0
		height 0
		overflow hidden

	// Shapes default dimensions
	&-barcode
		size 315px 510px
	&-icon-arrow
		size 5px 9px
		&.view-down
			transform rotate(90deg)
		&.view-left
			transform rotate(-180deg)
	&-icon-play
		size 112px
	&-icon-circle
		size 30px 27px
	&-icon-books
		size 66px 58px
	&-icon-boost
		size 72px 59px
	&-icon-building
		size 58px 53px
	&-icon-document
		size 29px 30px
	&-icon-document2
		size 46px 54px
	&-icon-mail
		size 49px 21px
	&-icon-phone
		size 24px 30px
	&-icon-sign
		size 64px 46px
	&-icon-target
		size 75px 69px
	&-social-linkedin
		size 39px
	&-logo-ntk
		size 126px 70px
	&-logo-elib
		size 198px 92px
	&-btn-arrow
		size 32px
	&-icon-ok
		size 14px 10px
	&-icon-cancel
		size 21px
	&-icon-file
		size 40px 50px
	&-icon-plus
		size 36px 33px
	&-icon-man
		size 47px 66px
