.single
	&-content
		img
			margin 30px 0
			max-width 100%
		ul,
		ol
			margin-top 0
			padding-left 0
			list-style none
			li
				position relative
				padding-left 15px
				&:before
					content ''
					size(7px, 7px)
					background-color $c-primary
					border-radius 50%
					absolute left top 9px
	&-sidebar
		position relative
		padding-top 25px
		> .title
			padding-left 15px

	@media (min-width $screen-sm-min)
		&-sidebar
			&:before
				content ''
				absolute left top bottom -200px
				width 1px
				background-color #D7D1CE
