.sticky
	@media $1000M
		&-extra
			background-color #2E2E2E
			form
				font-size 0
				padding-top 20px !important
			.form-group
				width 75%
				padding-right 5px
				input
					width 100%
			.btn.sticky-searchbtn
				width 25%
				padding-left 0
				padding-right 0
				relative bottom 3px
		&-smallnav.nav
			margin-bottom 30px
			margin-top 15px
			> li
					float left
					width 50%
					text-align center
					&:first-child
						padding-right 5px
					&:last-child
						padding-left 5px
					a
						border 1px solid #454545
						color rgba(#fff, .5)
						height 45px
						img
							relative bottom 1px

	@media $1000M
		&-ntk
			absolute right top 5px
		&-searchbtn
			relative bottom 2px
		&-navbar-form.navbar-form
			border none
			box-shadow none
			padding-top 0
			padding-bottom 0
			margin-top 0

	@media $1000
		.navbar-header
			width 100%
		&-extra
			absolute left right top
			z-index 1000
			background-color #2f2f2f
			.navbar-menu
				relative left 100px
		&-ntk
			float right
			svg.view-s
				size 126px 70px

	@media $1200
		&-extra
			.navbar-menu
				relative left 150px
