.sticky
	background #fff
	fixed left right top
	z-index 150
	transition .3s ease all
	padding 18px 0
	.menu-is-open &
		height 100vh
	&-placeholder
		height 62px
	&-left
		float left
		margin-top 15px
	&-right
		float right
	&-logo
		absolute left 50% top
		transform translate(-50%, 0)
	&-social
	&-cta
		display inline-block
		vertical-align middle
		margin-left 20px
	&-social
		font-size 0
		color $c-secondary
		a
			display inline-block
			vertical-align top
			margin-left 15px
			text-decoration none
			&:first-child
				margin-left 0

	@media $1000M
		&-logo
			max-width 133px
			top 15px
		&-cta
			display none
			&-mobile
				margin-top 20px
		&-social
			a
				transform scale(.8)

	@media $1000
		padding 35px 0
		&-placeholder
			height 123px
		&-social
			margin-right 30px
			a
				margin-left 30px
				transition .3s ease all
				&:hover
					transform scale(1.1)
		&-cta-mobile
			display none
