.textbox
	padding 60px 0 30px
	&-content
		color $c-text
		font-size 15px
		font-family $f-thin
	&-btn
		margin-top 30px

	@media $768
		padding 120px 0 30px
		&-content
			font-size 24px
		&-btn
			margin-top 50px
