.timelinebox
	.container
		width 98%
	&-list
		margin 50px auto 0
		max-width 800px
		position relative
		&:before
			content ''
			absolute left 50% top 15px bottom
			width 1px
			background-color #fff
	&-item
		max-width 370px
		margin-bottom 30px
		position relative
		&:before
			content ''
			size 20px 18px
			absolute left 100% top
			z-index 100
			transform translate(52px, 10px)
			background url(../images/sources/icon-circle.svg) center center $c-primary no-repeat
			background-size 20px 18px
		&-date
			color #ffbcb8
			font-size 15px
			font-family $f-medium

	@media $768M
		&-list
			padding-left 20px
			&:before
				left 0
				top 0
		&-item
			&:before
				left -30px
				top 3px
				transform translate(0, 0)

	@media $768-1000
		&-list
			max-width 723px
		&-item
			max-width 311px

	@media $768
		&-list
			overflow hidden
		&-item
			width 50%
			&:nth-child(odd)
				float left
				clear right
				text-align right
				&:before
					transform translate(42px, 10px)
			&:nth-child(even)
				float right
				clear left
				&:before
					left auto
					right 100%
					transform translate(-39px, 10px)
			&:last-child
				margin-bottom 0
				&:after
					content ''
					background-color $c-primary
					absolute left -50px top 28px bottom
					width 20px
			&:last-child:nth-child(odd):after
				left auto
				right -50px

	@media $1000
		&-item
			&:nth-child(odd)
				&:before
					transform translate(21px, 10px)
			&:nth-child(even)
				&:before
					transform translate(-19px, 10px)
