extends layouts/default

block content
	.barcode-wrap
		include sections/sticky
		.well.well-primary
			.container
				h1.title.view-section Aktuality
		+shape('barcode')
	.main
		.container
			ol.breadcrumb
				li
					a(href='#') Úvod
				li
					span Aktuality

	.main
		.container

			.well
				.filterbox
					.row
						.col-sm-1
							p Zobrazit:
						.col-sm-11
							.select
								.select-caret
									.caret
								select.form-control.form-control-default
									option Všechny aktuality
									option První položka
									option Druhá položka
									option Třetí položka

			.articles
				ul.media-list
					li.media.articles-item
						.media-left
							a(href='#')
								img.media-object(src='dummy/article_s.jpg', alt='')
						.media-body
							.articles-item-info
								date 15. duben 2017
								span ●
								.articles-item-nav
									a(href="#") Akce
							h3.media-heading.articles-item-heading Mnozí pád se noc jako nešťastná jih povlak
							.articles-item-desc
								p Záchvatu myslitelnými z přehazoval jazykem tříkilometrové pokroucených k speciálním převést propracovanou, bouře vedený letní zaznamenáno sledování.
									a.btn.btn-text.btn-brand(href="#") celý článek
										+shape('icon-arrow')

					li.media.articles-item
						.media-left
							a(href='#')
								img.media-object(src='dummy/article_s.jpg', alt='')
						.media-body
							.articles-item-info
								date 15. duben 2017
								span ●
								.articles-item-nav
									a(href="#") Akce
							h3.media-heading.articles-item-heading Mnozí pád se noc jako nešťastná jih povlak
							.articles-item-desc
								p Záchvatu myslitelnými z přehazoval jazykem tříkilometrové pokroucených k speciálním převést propracovanou, bouře vedený letní zaznamenáno sledování.
									a.btn.btn-text.btn-brand(href="#") celý článek
										+shape('icon-arrow')

					li.media.articles-item
						.media-left
							a(href='#')
								img.media-object(src='dummy/article_s.jpg', alt='')
						.media-body
							.articles-item-info
								date 15. duben 2017
								span ●
								.articles-item-nav
									a(href="#") Akce
							h3.media-heading.articles-item-heading Mnozí pád se noc jako nešťastná jih povlak
							.articles-item-desc
								p Záchvatu myslitelnými z přehazoval jazykem tříkilometrové pokroucených k speciálním převést propracovanou, bouře vedený letní zaznamenáno sledování.
									a.btn.btn-text.btn-brand(href="#") celý článek
										+shape('icon-arrow')


			.section-btns.text-center
				a.btn.btn-default.btn-lg
					| Další aktuality
					+shape('icon-arrow').view-down

	include sections/footernav
	include sections/footer






