extends layouts/default

block content
	include sections/sticky
	.well.well-primary
		.container
			h1.title.view-section Aktuality
	.main
		.container
			ol.breadcrumb
				li
					a(href='#') Úvod
				li
					a(href='#') Aktuality
				li
					span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, odit.

	.main
		.container
			.single
				h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.lead Vztahu obavy, diváka vajíčka, bílá ukáže, oslabil draci o přesun? Pohlcuje či všem hor dodal poněkud i byly nacházejí zmrzlý ať boji květiny, 057 drsná pozvedl pevnině a stánky k říká. Moře jak povlak dvěma, kněze tu nová zvýší sérií zájmy.
				.single-content
					p Doba být test propadne spotřebuje schopnost teplotním. Usedlosti nechala změn řekne a o tunel amatérsky? S mé. Motýlů společným do čaj financovala o teoretická masového zůstaly, pokladen velryb ní řeč, vrhá řad vědce váš starala i proslulou mnohdy nastěhovali položený mláděte, staré 80 necítila. Výhod dvou, pozdního mj. občany jedinců, té plánku mj. náročnější 1981 sobě vybrané empirickými upravené ně od. Dál lidi u protože nepředvídatelné pohyb, s jsme už jakýchsi jednou slabého položeným trojcípou nástrojů, softwarové tj. k tu já stručně jádro předpovídají mrazem, byste popisuje nejspíš laura, ji praze specifických dá sbroušené hromadí.
					img(src="dummy/article-large.jpg", alt="")
					p Mozaika teplana <b>kosila ji a dar</b>, do vítejte sto přírodě ta masivní už zemském biologii obrátily 200, jí posláníjane kotel s zní, tj. míst, sjezdovek, což jednotlivými já pokladny bažinách budou. Paprsků drsnějšími uvedl kompas, umožnila z její počítače váleční vyhyne českém Davida.
					h3 Fotogalerie
					.row
						.col-md-3
							img(src="dummy/gallery1.jpg", alt="")
						.col-md-3
							img(src="dummy/gallery3.jpg", alt="")
						.col-md-3
							img(src="dummy/gallery1.jpg", alt="")
						.col-md-3
							img(src="dummy/gallery3.jpg", alt="")
					p Let ze své vynesl poškozeny složitý, účty obloze chemický v ohromní je dodal skákat. Sám internet vybrané, o amokem předbíhal 3000 Michal připravila u povrchem polovina rozvoji, hor vybrané z tato samý a nejlogičtějším dvanáct přesto sebe nová.
					p
						b Až zevnějšku vteřinu most
					ul
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut temporibus voluptate, quo nemo explicabo iure.
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut temporibus voluptate, quo nemo explicabo iure.
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut temporibus voluptate, quo nemo explicabo iure.
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut temporibus voluptate, quo nemo explicabo iure.
					p Mozaika teplana <b>kosila ji a dar</b>, do vítejte sto přírodě ta masivní už zemském biologii obrátily 200, jí posláníjane kotel s zní, tj. míst, sjezdovek, což jednotlivými já pokladny bažinách budou. Paprsků drsnějšími uvedl kompas, umožnila z její počítače váleční vyhyne českém Davida.
					.table-responsive
						table.table.table-primary
							tr
								th Let ze své vynesl poškozeny
								th Příprava loď
								th Internet
								th Desítky lodí
								th Průlom zeměkoule
							tr
								td Moře není názvy trasách domnívám dravost pomoci pohlceného vulkánu
								td 350,8 km
								td
									+shape('icon-ok')
								td v přípravě
								td 85 060 Kč
							tr
								td Moře není názvy trasách domnívám dravost pomoci pohlceného vulkánu
								td 350,8 km
								td
									+shape('icon-cancel')
								td v přípravě
								td 85 060 Kč
							tr
								td Moře není názvy trasách domnívám dravost pomoci pohlceného vulkánu
								td 350,8 km
								td
									+shape('icon-ok')
								td v přípravě
								td 85 060 Kč
			.section-btns.text-center
				a.btn.btn-default.btn-lg.icon-left
					+shape('icon-arrow').view-left
					| Všechny aktuality

	include sections/footernav
	include sections/footer






