extends layouts/default

block content
	include sections/sticky
	.well.well-dark
		.container
			h3 Seznam všech stránek
			ul.nav.nav-pills.nav-stacked
				li
					a(href='index.html') Homepage
				li
					a(href='aktuality.html') Aktuality
				li
					a(href='aktuality-detail.html') Aktuality - detail







