extends layouts/default

block content
	include sections/sticky
	.well
		.container
			h3 Seznam všech stránek
			ul.nav.nav-pills.nav-stacked
				li
					a(href='index.html') Homepage
				li
					a(href='aktuality.html') Aktuality
				li
					a(href='aktuality-detail.html') Aktuality - detail
				li
					a(href='cesta.html') Cesta k Open Access
				li
					a(href='dokumenty.html') Dokumenty
				li
					a(href='kontakty.html') Kontakty
				li
					a(href='nas-tym.html') Náš tým







