extends layouts/default

block content
	include sections/sticky
	.well.well-primary
		.container
			h1.title.view-section Dokumenty

	.main
		.container
			.row
				.col-md-9
					ol.breadcrumb
						li
							a(href='#') Úvod
						li
							a(href='#') O CzechElib
						li
							span Dokumenty

					.well
						.filterbox
							.row
								.col-md-2
									p Hledat:
								.col-md-10
									input.form-control.form-control-default(type="text", placeholder="Začněte psát pro filtraci podle názvu dokumentu")

					.files
						ul.media-list
							li.media.files-item
								.media-left
									+shape('icon-file')
								.media-body
									.files-item-info
										date 15. duben 2017
									h3.media-heading.files-item-heading
										a(href="#") Mnozí pád se noc jako nešťastná jih povlak
							li.media.files-item
								.media-left
									+shape('icon-file')
								.media-body
									.files-item-info
										date 22. duben 2017
									h3.media-heading.files-item-heading
										a(href="#") Lorem ipsum dolor sit.
							li.media.files-item
								.media-left
									+shape('icon-file')
								.media-body
									.files-item-info
										date 15. květen 2017
									h3.media-heading.files-item-heading
										a(href="#") Prezentace CzechELib - Národní centrum pro elektronické informační zdroje - informační schůzka
							li.media.files-item
								.media-left
									+shape('icon-file')
								.media-body
									.files-item-info
										date 15. duben 2016
									h3.media-heading.files-item-heading
										a(href="#") Mnozí pád se noc jako nešťastná jih povlak

					.section-btns.text-center
						a.btn.btn-default.btn-lg
							| Další dokumenty
							+shape('icon-arrow').view-down

				.col-md-3
					.single-sidebar
						h2.title.view-section O CzechElib
						ul.nav.nav-pills.nav-stacked
							li
								a(href='#') O projektu
							li
								a(href="#") Harmonogram
							li
								a(href="#") Naše služby
							li
								a(href="#") Cesta k Open Access
							li.active
								a(href="#") Dokumenty
							li
								a(href="#") Náš tým
							li
								a(href="#") Volná místa
							li
								a(href="#") Pro média

	include sections/footernav
	include sections/footer






