extends layouts/default

block content
	include sections/sticky
	.well.well-primary
		.container
			h1.title.view-section Dokumenty

	.main
		.container
			.row
				.col-md-9
					ol.breadcrumb
						li
							a(href='#') Úvod
						li
							a(href='#') O CzechElib
						li
							span Dokumenty

					.well
						.filterbox
							.row
								.col-md-2
									p Hledat:
								.col-md-10
									input.form-control.form-control-default(type="text", placeholder="Začněte psát pro filtraci podle názvu dokumentu")

					.single
						.lead Vztahu obavy, diváka vajíčka, bílá ukáže, oslabil draci o přesun? Pohlcuje či všem hor dodal poněkud i byly nacházejí zmrzlý ať boji květiny, 057 drsná pozvedl pevnině a stánky k říká. Moře jak povlak dvěma, kněze tu nová zvýší sérií zájmy.
						.single-content
							p
								b Až zevnějšku vteřinu most
							ul
								li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut temporibus voluptate, quo nemo explicabo iure.
								li Lorem ipsum dolor si
								li Lorem ipsum dolor sit amet, couptate, quo nemo explicabo iure.
								li Lorem ipsum, consece, quo nemo explicabo iure.
							img(src="dummy/article-large.jpg", alt="")
							p U vystoupit ze ženy snímků slabší souvisí svém z chování češi tak atmosféře, houby ostrého ekologa Atlantida:
							ul
								li Lorem ipsum dolor sit a
								li Lorem ipsum dolor sit amet, consectetur

							h3 Fotogalerie
							.row
								.col-md-3
									img(src="dummy/gallery1.jpg", alt="")
								.col-md-3
									img(src="dummy/gallery3.jpg", alt="")
								.col-md-3
									img(src="dummy/gallery1.jpg", alt="")
								.col-md-3
									img(src="dummy/gallery3.jpg", alt="")
							p Let ze své vynesl poškozeny složitý, účty obloze chemický v ohromní je dodal skákat. Sám internet vybrané, o amokem předbíhal 3000 Michal připravila u povrchem polovina rozvoji, hor vybrané z tato samý a nejlogičtějším dvanáct přesto sebe nová.

							img(src="images/hr.jpg", alt="")

							p Mozaika teplana <b>kosila ji a dar</b>, do vítejte sto přírodě ta masivní už zemském biologii obrátily 200, jí posláníjane kotel s zní, tj. míst, sjezdovek, což jednotlivými já pokladny bažinách budou. Paprsků drsnějšími uvedl kompas, umožnila z její počítače váleční vyhyne českém Davida.

					.section-btns.center
						a.btn.btn-default.btn-lg Více informací
							+shape('icon-arrow')

				.col-md-3
					.single-sidebar
						h2.title.view-section O CzechElib
						ul.nav.nav-pills.nav-stacked
							li
								a(href='#') O projektu
							li
								a(href="#") Harmonogram
							li
								a(href="#") Naše služby
							li
								a(href="#") Cesta k Open Access
							li.active
								a(href="#") Dokumenty
							li
								a(href="#") Náš tým
							li
								a(href="#") Volná místa
							li
								a(href="#") Pro média

	include sections/footernav
	include sections/footer






