extends layouts/default

block content
	include sections/sticky
	include sections/jumbotron
	include sections/servicesbox
	include sections/newsbox
	include sections/timelinebox
	include sections/footernav
	include sections/footer






