extends layouts/default

block content
	.barcode-wrap
		include sections/sticky
		include sections/jumbotron
		+shape('barcode')
	include sections/servicesbox
	include sections/newsbox
	include sections/timelinebox
	include sections/footernav
	include sections/footer






