extends layouts/default

block content
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, obcaecati.
	span.label.label-default Default
	span.label.label-primary Primary
	span.label.label-success Success
	span.label.label-info Info
	span.label.label-warning Warning
	span.label.label-danger Danger






