extends layouts/default

block content
	.barcode-wrap
		include sections/sticky
		.well.well-primary
			.container
				h1.title.view-section Seznam členů
		+shape('barcode')

	.main
		.container
			ol.breadcrumb
				li
					a(href='#') Úvod
				li
					span Seznam členů

	.main
		.container
			.single
				.lead Bojovat připomínající mé 2008 rozdělit vlivů ruce ptal přesun, řad představu ze neobvykle zazimovala vybavit, podpory potáhnou částicový hodně způsobí z trvají co upozornit dlouho. Monopol atmosféře negativa pozůstatky vítr významnější účty tradičními 1938.
				ul.nav.nav-tabs.nav-justified.nav-offset
					li
						a(href='#') University
					li.active
						a(href='#') Research institution
					li
						a(href='#') Public library
					li
						a(href='#') Hospital
					li
						a(href='#') Government/Others

			.well
				.filterbox.view-letternav
					.row
						.col-sm-1
							p Filtr:
						.col-sm-11
							ul.letternav
								li
									span a
								li.letternav-separator
									span |
								each val in ['b', 'c', 'd', 'e', 'f', 'g', 'h', 'c', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
									li
										a(href="#")= val
									li.letternav-separator
										span |


	.main.main-content
		.container
			.table-responsive
				table.table.table-list.table-offset
					tr
						th.text-left  Instituce
						th.text-center Researchers
						th.text-center WWW
					tr.tr-group
						td(colspan=3)
							.circlebadge A
					tr.tr-noborder
						td.text-left Akademie múzických umění v Praze
						td.text-center  7.91
						td.text-center
							a(href="#") www.amu.cz
					tr
						td.text-left Agritec Plant Research
						td.text-center  8.4
						td.text-center
							a(href="#") www.agritec.cz
					tr.tr-group
						td(colspan=3)
							.circlebadge B
					tr.tr-noborder
						td.text-left Akademie múzických umění v Praze
						td.text-center  7.91
						td.text-center
							a(href="#") www.amu.cz
					tr
						td.text-left Agritec Plant Research
						td.text-center  8.4
						td.text-center
							a(href="#") www.agritec.cz
					tr
						td.text-left Agritec Plant Research
						td.text-center  8.4
						td.text-center
							a(href="#") www.agritec.cz
					tr.tr-group
						td(colspan=3)
							.circlebadge C
					tr.tr-noborder
						td.text-left Akademie múzických umění v Praze
						td.text-center  7.91
						td.text-center
							a(href="#") www.amu.cz


	include sections/footernav
	include sections/footer






