extends layouts/default

block content
	include sections/sticky
	.well.well-primary
		.container
			h1.title.view-section Seznam členů
	.main
		.container
			ol.breadcrumb
				li
					a(href='#') Úvod
				li
					span Seznam členů

	.main
		.container
			.single
				.lead Bojovat připomínající mé 2008 rozdělit vlivů ruce ptal přesun, řad představu ze neobvykle zazimovala vybavit, podpory potáhnou částicový hodně způsobí z trvají co upozornit dlouho. Monopol atmosféře negativa pozůstatky vítr významnější účty tradičními 1938.
				ul.nav.nav-tabs.nav-justified.nav-offset
					li
						a(href='#') University
					li.active
						a(href='#') Research institution
					li
						a(href='#') Public library
					li
						a(href='#') Hospital
					li
						a(href='#') Government/Others




	include sections/footernav
	include sections/footer






