//
// Breadcrumbs
// --------------------------------------------------
.breadcrumb
  padding $breadcrumb-padding-vertical 0
  margin-bottom $line-height-computed
  list-style none
  background-color $breadcrumb-bg
  border-radius $border-radius-base
  font-size 14px
  @media (min-width $screen-sm-min)
  	font-size 16px

  > li
    display inline-block

    a
    	color $brand-primary
    	text-decoration underline

    + li:before
      content "" + $breadcrumb-separator + "\00a0" // Unicode space added since inline-block means non-collapsing white-space
      padding 0 5px
      color $breadcrumb-color

  > .active
    color $breadcrumb-active-color
