footer.footernav
	.container
		.row
			.col-sm-3
				h4.footernav-title
					a(href="#") eZdroje
				nav.footernav-list
					a(href="#") Seznam zdrojů
					a(href="#") Statistické údaje
				a.footernav-social(href="#") Sledujte nás
					+shape('social-linkedin')
			.col-sm-3
				h4.footernav-title Pro členy
				nav.footernav-list
					a(href="#") Podmínky členství
					a(href="#") Seznam členů
					a(href="#") Metodiky
					a(href="#") Časový harmonogram
					a(href="#") FAQ
			.col-sm-3
				h4.footernav-title O CzechElib
				nav.footernav-list
					a(href="#") O projektu
					a(href="#") Harmonogram
					a(href="#") Naše služby
					a(href="#") Dokumenty
					a(href="#") Náš tým
					a(href="#") Volná místa
			.col-sm-3
				h4.footernav-title Pro média
				nav.footernav-list
					a(href="#") Tiskové zprávy
					a(href="#") Ke stažení
				h4.footernav-title Pro vydavatele
				nav.footernav-list
					a(href="#") Principy spolupráce
					a(href="#") Veřejné zakázky

