footer.footer
	.container
		.row
			.col-sm-7
				h4 Projekt CzechELib je spolufinancován EU.
				table
					tr
						td
							img(src="images/flag-eu.png", alt="")
						td
							p Evropská unie<br>Evropské strukturální a investiční fondy<br>Operační program Výzkum, vývoj a vzdělávání
						td
							img(src="images/logo-msmt.png", alt="")
			.col-sm-5.footer-right
				p Copyright © 2017
				.footer-nav
					a(href="#") Ochrana osobních údajů
					span •
					a(href="#") Mapa stránek

