.jumbotron.jumbotron-bg.jumbotron-header
	.container
		.well.well-lg.well-dark.well-auto
			h1 Řeči sen ptal naprosto několik plní roli zelený set rekordům set standard
			p
				a.btn.btn-link(href='#', role='button')
					+shape('btn-arrow')
					| Více informací
	include linksbar

