.well.well-linksbar
	.container
		.row
			.col-sm-4.animate.animate-item.animate-slidein
				a.btn.well-linksbar-btn(href="#")
					+shape('icon-document')
					| Zobrazit eZdroje
			.col-sm-4.animate.animate-item.animate-slidein
				a.btn.well-linksbar-btn(href="#")
					+shape('icon-phone')
					| +420 248 705 100
			.col-sm-4.animate.animate-item.animate-slidein
				a.btn.well-linksbar-btn(href="#")
					+shape('icon-mail')
					| Napište nám

