section.section.newsbox
	.container
		h2.title.view-section.center.upper Aktuality
		.newsbox-list.center
			article.newsbox-item
				.newsbox-item-img
					img(src="dummy/article1.jpg", alt="")
				.newsbox-item-in
					date.newsbox-item-date 15. duben 2017
					h3.newsbox-item-title Mnozí pád se noc jako nešťastná jih povlak
					.newsbox-item-desc
						p Samotné mamuta v přednosti mokřinách utopického trasy horka 1969 u a mimo loď
					.newsbox-item-btn
						a.btn.btn-link.btn-brand.svg-left(href='#', role='button')
							+shape('btn-arrow')
							| Více informací
			article.newsbox-item
				.newsbox-item-img
					img(src="dummy/article2.jpg", alt="")
				.newsbox-item-in
					date.newsbox-item-date 6. duben 2017
					h3.newsbox-item-title Kvalitnější procesorů jakou laura rok
					.newsbox-item-desc
						p Rodu hladem věnovat, té za té samec za pracuje agrese volno
					.newsbox-item-btn
						a.btn.btn-link.btn-brand.svg-left(href='#', role='button')
							+shape('btn-arrow')
							| Více informací
			article.newsbox-item
				.newsbox-item-img
					img(src="dummy/article1.jpg", alt="")
				.newsbox-item-in
					date.newsbox-item-date 24. duben 2017
					h3.newsbox-item-title Cizince horské takřka kdyby místa požitek
					.newsbox-item-desc
						p Způsobuje nový mi šedá hladem, řad celý stopa ne horniny zem kriticky sedět
					.newsbox-item-btn
						a.btn.btn-link.btn-brand.svg-left(href='#', role='button')
							+shape('btn-arrow')
							| Více informací

		.section-btns.center
			a.btn.btn-default.btn-lg Načíst další
				+shape('icon-arrow').view-down
