section.section.servicesbox
	.container
		h2.title.view-section.center.upper Služby CzechELib
		.servicesbox-list.center
			article.servicesbox-item
				.servicesbox-item-in
					+shape('icon-sign')
					.servicesbox-item-desc Výběr EIZ pro centrální podporu.
			article.servicesbox-item
				.servicesbox-item-in
					+shape('icon-target')
					.servicesbox-item-desc Realizace výběrových řízení na dodavatele EIZ.
			article.servicesbox-item
				.servicesbox-item-in
					+shape('icon-document2')
					.servicesbox-item-desc Sjednání licenčních smluv a vlastní nákup EIZ.
			article.servicesbox-item
				.servicesbox-item-in
					+shape('icon-building')
					.servicesbox-item-desc Podpora členským institucím při zpřístupnění a využívání pořízených EIZ.
			article.servicesbox-item
				.servicesbox-item-in
					+shape('icon-books')
					.servicesbox-item-desc Podpora členským institucím pro zpracování bibliometrických analýz.
			article.servicesbox-item
				.servicesbox-item-in
					+shape('icon-boost')
					.servicesbox-item-desc Správa a vedení statistik využívání zdrojů.

		.section-btns.center
			a.btn.btn-default.btn-lg Více informací
				+shape('icon-arrow')
