nav.navbar.navbar-default.navbar-static-top
	.container
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
				span.navbar-toggle-label Menu
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='crossroad.html')
				img(src="images/logo.png", alt="")
		#navbar-collapse.collapse.navbar-collapse
			form.navbar-form.navbar-left
				.form-group
					input.form-control.form-control-search(type='text')
				button.btn.btn-default.btn-lg(type='submit') Hledat
			ul.nav.navbar-nav
				li
					a(href='#') Pro vydavatele
				li
					a(href="#")
						img(src="images/lang-en.png", alt="")
						| English
			.navbar-right
				a.navbar-brand(href="#")
					+shape('logo-ntk')

nav.navbar.navbar-inverse.navbar-static-top
	.container
		button.navbar-toggle.collapsed.navbar-toggle-compact(type='button', data-toggle='collapse', data-target='#navbar-menu', aria-expanded='false')
				span.navbar-toggle-label Navigace
				span.icon-bar
				span.icon-bar
				span.icon-bar
		#navbar-menu.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-full
				li
					a(href='index.html') Domů
				li
					a(href='zdroje.html') eZdroje
				li
					a(href='aktuality.html') Aktuality
				li
					a(href='seznam-clenu.html') Seznam členů
				li.dropdown
					a.dropdown-toggle(data-toggle='dropdown', href='#')
						| Pro členy
						span.caret
					ul.dropdown-menu
						li
							a(href='#') Podstránka 1
						li
							a(href='#') Podstránka 2
						li
							a(href='#') Podstránka 3

				li
					a(href='nas-tym.html') O CzechElib
				li
					a(href='kontakty.html') Kontakty
