nav.navbar.navbar-default.navbar-static-top.sticky
	.container
		.navbar-header
			a.navbar-brand(href='crossroad.html')
				img(src="images/logo.png", alt="")
			.sticky-ntk
				a.navbar-brand(href="#")
					+shape('logo-ntk').view-s

nav.navbar.navbar-inverse.navbar-static-top
	.container
		button.navbar-toggle.collapsed.navbar-toggle-compact#js-menu-toggle(type='button', data-toggle='collapse', data-target='.navbar-menu', aria-expanded='false')
				span.navbar-toggle-label MENU
				span.icon-bar
				span.icon-bar
				span.icon-bar
		.navbar-menu.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-full
				li
					a(href='index.html') Domů
				li
					a(href='zdroje.html') eZdroje
				li
					a(href='aktuality.html') Aktuality
				li
					a(href='seznam-clenu.html') Seznam členů
				li.dropdown
					a.dropdown-toggle(href='#')
						| Pro členy
						span.caret
					ul.dropdown-menu
						li
							a(href='#') Podstránka 1
						li
							a(href='#') Podstránka 2
						li
							a(href='#') Podstránka 3

				li
					a(href='nas-tym.html') O CzechElib
				li
					a(href='kontakty.html') Kontakty

.sticky-extra
	.container
		.navbar-menu.collapse.navbar-collapse.navbar-collapse-primary
			form.navbar-form.navbar-left.sticky-navbar-form
				.form-group
					input.form-control.form-control-search(type='text')
				button.btn.btn-default.btn-lg.sticky-searchbtn(type='submit') Hledat
			ul.nav.navbar-nav.sticky-smallnav
				li
					a(href='#') Pro vydavatele
				li
					a(href="#")
						img(src="images/lang-en.png", alt="")
						| English
