section.section.view-brand.timelinebox
	.container
		h2.title.view-section.center.upper Harmonogram
		section.timelinebox-list
			article.timelinebox-item.animate.animate-slidein
				date.timelinebox-item-date.upper červenec - prosinec 2017
				.timelinebox-item-desc Vyjednávání, veřejné zakázky, uzavírání smluv
			article.timelinebox-item.animate.animate-slidein
				date.timelinebox-item-date.upper červen 2017
				.timelinebox-item-desc Setkání Odborné rady II a finální rozhodnutí institucí o účasti v konsorciích

			article.timelinebox-item.animate.animate-slidein
				date.timelinebox-item-date.upper červenec - prosinec 2017
				.timelinebox-item-desc Vyjednávání, veřejné zakázky, uzavírání smluv
			article.timelinebox-item.animate.animate-slidein
				date.timelinebox-item-date.upper červen 2017
				.timelinebox-item-desc Setkání Odborné rady II a finální rozhodnutí institucí o účasti v konsorciích

			article.timelinebox-item.animate.animate-slidein
				date.timelinebox-item-date.upper červenec - prosinec 2017
				.timelinebox-item-desc Vyjednávání, veřejné zakázky, uzavírání smluv
			article.timelinebox-item.animate.animate-slidein
				date.timelinebox-item-date.upper červen 2017
				.timelinebox-item-desc Setkání Odborné rady II a finální rozhodnutí institucí o účasti v konsorciích

			article.timelinebox-item.animate.animate-slidein
				date.timelinebox-item-date.upper červenec - prosinec 2017
				.timelinebox-item-desc Vyjednávání, veřejné zakázky, uzavírání smluv
			article.timelinebox-item.animate.animate-slidein
				date.timelinebox-item-date.upper červen 2017
				.timelinebox-item-desc Setkání Odborné rady II a finální rozhodnutí institucí o účasti v konsorciích

