font-url(file)
  return '../fonts/' + file

webfont(family, file)
  @font-face
    font-family family
    src url(font-url(file + '.woff')) format('woff'),
        url(font-url(file + '.woff2')) format('woff2')

// Webfonts import
webfont('UniversCom-45Light', 'UniversCom-45Light')
webfont('UniversCom-55Roman', 'UniversCom-55Roman')
webfont('UniversCom-65Bold', 'UniversCom-65Bold')
webfont('UniversCom-75Black', 'UniversCom-75Black')
