.center
	text-align center

.upper
	text-transform uppercase

.hide
	display none !important

@media $1000M
	.view-desktop
		display none !important
@media $1000
	.view-mobile
		display none !important

@media $768M
	.view-tablet
		display none !important
