// Colors
$c-primary = #E94541
$c-primary-light = #AD8A6B
$c-secondary = #71B575

$c-bg = #F3F3F3
$c-bg-dark = #212121
$c-bg-light = #FAFAFA

$c-text = $c-primary
$c-text-light = #949494
$c-text-dark = #333333

$c-border = #CCCCCC

// Font properties
$f-thin = 'UniversCom-45Light', "Helvetica Neue", Helvetica, Arial, sans-serif
$f-medium = 'UniversCom-55Roman', "Helvetica Neue", Helvetica, Arial, sans-serif
$f-bold = 'UniversCom-65Bold', "Helvetica Neue", Helvetica, Arial, sans-serif
$f-black = 'UniversCom-75Black', "Helvetica Neue", Helvetica, Arial, sans-serif

// $f-thin = 'UniversCom-45Light', "Helvetica Neue", Helvetica, Arial, sans-serif
// $f-medium = 'UniversCom-55Roman', "Helvetica Neue", Helvetica, Arial, sans-serif
// $f-bold = 'UniversCom-65Bold', "Helvetica Neue", Helvetica, Arial, sans-serif
// $f-black = 'UniversCom-75Black', "Helvetica Neue", Helvetica, Arial, sans-serif

$f-secondary = serif

$f-base-size = 18px
$f-base-lh = 1.3

// Dimensions
$radius = 0

// Breakpoints
$360 = "only screen and (min-width : 360px)"
$360M = "only screen and (max-width : 359px)"

$600 = "only screen and (min-width : 600px)"
$600M = "only screen and (max-width : 599px)"

$768 = "only screen and (min-width : 768px)"
$768M = "only screen and (max-width : 767px)"

$768Mretina = "only screen and (max-width : 767px) and (-webkit-min-device-pixel-ratio : 2)"

$768-1000 = "only screen and (min-width : 767px) and (max-width : 999px)"

$1000 = "only screen and (min-width : 1000px)"
$1000M = "only screen and (max-width : 999px)"

$1000Mretina = "only screen and (max-width : 999px) and (-webkit-min-device-pixel-ratio : 2)"

$1100 = "only screen and (min-width : 1100px)"
$1100M = "only screen and (max-width : 1099px)"

$1200 = "only screen and (min-width : 1200px)"
$1200M = "only screen and (max-width : 1199px)"

$1400 = "only screen and (min-width : 1400px)"
$1400M = "only screen and (max-width : 1399px)"

$1600 = "only screen and (min-width : 1600px)"
$1600M = "only screen and (max-width : 1599px)"

$2000 = "only screen and (min-width : 2000px)"
$2000M = "only screen and (max-width : 1999px)"

$retina = "(-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi)"

$break-menuToggle = $1000
