.rwmb-input
	> input:not([type=checkbox]):not([type=radio])
	> textarea
		width 100% !important
		max-width 100%

.rwmb-clone
	padding-right 32px

.ui-sortable .rwmb-clone-icon
	margin-left -18px
	left 3px
	margin-top 3px

#newblog_author_parent
	display none

#blog_side
	.rwmb-image_advanced-wrapper
		margin-bottom 20px
	.rwmb-media-status
		display none
	.rwmb-heading-wrapper h4
		margin-bottom 0
