include shape

mixin team-item(img, name, role)
	.team-item.text-center
		a.coverlink(href="#")
		.team-item-img
			+shape('icon-plus')
			img(src="dummy/profile"+img+".jpg", alt="")
		.team-item-in
			h4= name
			p= role
